html {
  font-family: "Noto Serif", serif;
}

fieldset {
  border: none;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #70ad55;
  color: #fff;
}
select,
input,
textarea,
input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
  broder-color: #6e8c62;
}
