html {
  font-family: "Noto Serif", serif;
}

fieldset {
  border: none;
}

header {
  background-color: #70ad55;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

.btn {
  background-color: #70ad55;
  color: #fff;
}

select,
input,
textarea,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
}

@media only screen and (min-width: 60em) {

  .pad-left {
    padding-left: .5em;
  }

  .pad-right {
    padding-right: .5em;
  }

}
